.controller{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 210px;
    margin: 0 auto;
    /* border: 1px solid black; */
    margin-bottom: 20px;
}

.rightController{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 175px;
    width: 100%;
}

.iconArr{
    display: flex;
    flex-direction: column;
    width: 20px;
    height: 20px;
}


.btn{
    width: 30px;
    height: 30px;
}

.red{
    color: red
}