.controller{
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 350px;
    margin: 0 auto;
}

.iconArr{
    display: flex;
    flex-direction: column;
    width: 20px;
    height: 20px;
}


.btn{
    width: 30px;
    height: 30px;
}

.red{
    color: red
}