.App {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh; /* Full height of the viewport */
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}
.main{
  border: 1px solid black;
  padding: 20px;
  max-width: 500px;
  width: 100%;
}

.controllers {
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;
  max-width: 400px;
  width: 100%;
}

.form {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 10px 0;
}